extends layout

block content
  div.section.animated.fadeInUp
    h1= title.text
  div.section.light-bg.animated.fadeInUp
    div.container.inner
      div.row
        for val in projects
          div.col-md-4
            if (val.image)
              img(src='#{val.image}')
          div.col-md-8
            h2= val.heading
            p= val.content